{% extends 'templates/_document.twig' %}

{% block content %}
    {% for component in post.meta('headerComponents') %}
        {{ renderComponent(component) }}
    {% endfor %}
    {% if post.meta('headerComponents')|length == 0 %}
        {{ renderComponent('LayoutBasicHeader') }}
    {% endif %}
    {% if post.thumbnail and post.post_type == 'post' %}
        <div class="thumbnail-wrap container mt24">
            <img loading="lazy" class="img-style" src="{{ post.thumbnail.src }}" sizes="100vw" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.thumbnail.alt }}"/>
        </div>
    {% endif %}

    {{ renderComponent('BlockWysiwyg', {contentHtml:post.content,options: {containerSize:'container--small',padding:['top','bottom'],borders:['bottom']}}) }}
    {% for component in post.meta('pageComponents') %}
        {{ renderComponent(component) }}
    {% endfor %}
    {{ renderComponent('BlockPostsCarousel', {sectionContent:'<h2>Related News</h2>',showRelated:1,options: {containerSize:'container',padding:['top','bottom'],borders:['bottom']}}) }}
{% endblock %}
