<flynt-component name="BlockContentGrid" class="componentSpacing {{'top' in options.padding ? '' : 'pt0'}} {{'bottom' in options.padding ? '' : 'pb0'}} {{'top' in options.borders ? 'border-top'}} {{'bottom' in options.borders ? 'border-bottom'}}">
    <div class="container {{options.containerSize}}">
        <section class="grid {{'columns-'~options.maxColumns}}">
            {% for entry in entries %}
                <article class="entry">
                    <div class="image {{entry.imagePosition}}">
                        <img loading="lazy" class="" src="{{ entry.image.src }}" sizes="100vw" srcset="{{ entry.image.srcset }}" alt="{{ entry.image.alt }}"/>
                    </div>
                    <div class="content">
                        {{entry.contentHtml}}
                    </div>
                    {% if entry.ctaLinks %}
                    
                     <div class="ctas">
                        {% for btn in entry.ctaLinks %}
                            <a href="{{btn.cta.url}}" target="{{btn.cta.target}}" rel="noopener noreferrer" class="button {{btn.style}}">{{btn.cta.title}}
                            </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                   
                </article>
            {% endfor %}

        </section>

    </div>
</flynt-component>
