<flynt-component name="BlockImageText" class="componentSpacing {{'image-'~imagePosition}} {{'top' in options.padding ? '' : 'pt0'}} {{'bottom' in options.padding ? '' : 'pb0'}} {{'top' in options.borders ? 'border-top'}} {{'bottom' in options.borders ? 'border-bottom'}}">
    <div class="container {{options.containerSize}}">
        <div class="image">
            <img loading="lazy" class="{{options.keepAspect ? '' : 'img-fill' }}" src="{{ image.src }}" sizes="100vw" srcset="{{ image.srcset }}" alt="{{ image.alt }}"/>
        </div>
        <div class="content">
            {{contentHtml}}
        </div>
    </div>
</flynt-component>
