<span class="anchor-offset" id="{{options.sectionAnchor}}" aria-hidden="true"></span>
<flynt-component name="BlockWysiwyg" class="componentSpacing {{'top' in options.padding ? '' : 'pt0'}} {{'bottom' in options.padding ? '' : 'pb0'}} {{'top' in options.borders ? 'border-top'}} {{'bottom' in options.borders ? 'border-bottom'}}">
  <div class="container {{options.containerSize}}">
    <div class="content">
      {{ contentHtml }}
    </div>
  </div>
</flynt-component>
