<flynt-component name="NavigationMobile" class="">
    {# {{ renderComponent('LayoutNoticeBanner') }} #}
    {# TOP WRAP #}
        <section class="top-wrap"> <div class="brand">
            <button class="nav-toggle">
                {{ inline_svg('assets/images/nav-toggle-icon.svg') }}</button>
            <a href="{{ site.link }}" class="brand">
                {{logo}}
            </a>
        </div>
        {% if menuExtras.items > 0 %}
            <nav class="extras-nav">
                <ul>
                    {% for item in menuExtras.items %}
                        <li class="{{ item.classes|join(' ') }}">
                            <a title="{{item.title}}" class="" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
                                {{item.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </section>

    {# MENU WRAP #}

    <div
        class="menu-wrap">

        <!-- PRIMARY NAV -->
        <nav class="primary-nav">

            <button class=" purple nav-close nav-toggle">
                <i class="fa-regular fa-xmark"></i>
            </button>

        </nav>

        {% macro render_menu(items, level) %}
            <ul class="sub-menu level-{{ level }}">
                {# {% if level > 0 %}
                    <button class="nav-back" title="Go back">
                        <i class="fa-regular fa-chevrons-left" aria-hidden="true"></i>
                    </button>
                {% endif %} #}
                <div class="link-wrap">
                    {% for item in items %}
                        <li class="{{ item.classes|join(' ') }}">
                            <a class="menu-link {{ item.style|default('') }}" title="{{ item.title }}" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
                                {{ item.title }}
                            </a>
                            {% if item.children %}
                                <button class="sub-toggle" title="See sub-pages">
                                    <i class="fa-regular fa-chevrons-right" aria-hidden="true"></i>
                                </button>
                                {{ _self.render_menu(item.children, level + 1) }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </div>
            </ul>
        {% endmacro %}

        {{ _self.render_menu(menu.items, 0) }}


    </div>
</flynt-component>
